<nav class="nav-top header-fixed slide">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav">
          <li><a href="{{@blog.utl}}/">Home</a></li><li><a href="{{@blog.utl}}/about/">About</a></li><li><a href="{{@blog.utl}}/contact/">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
