<div class="sharing">
  <div class="socials-top colors-hover">
    <ul>
      <li><a href="https://twitter.com/coderberry"><span class="fa fa-twitter"></span></a></li>
      <li><a href="https://www.facebook.com/cavneb"><span class="fa fa-facebook"></span></a></li>
      <li><a href="https://plus.google.com/100966000114081109906/"><span class="fa fa-google-plus"></span></a></li>
      <li><a href="https://github.com/cavneb"><span class="fa fa-github"></span></a></li>
    </ul>
    <ul>
      <li><a href="https://www.linkedin.com/in/ericberry"><span class="fa fa-linkedin"></span></a></li>
      <li><a href="https://www.tumblr.com/blog/cavneb"><span class="fa fa-tumblr"></span></a></li>
      <li><a href="{{@blog.url}}/rss/"><span class="fa fa-rss"></span></a></li>
    </ul>
  </div>
</div>
